.movies-cardlist {
  max-width: 1280px;
  margin: auto;
}

.movies-cardlist__container {
  width: calc(100% - 140px);
  margin: 70px auto 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 24px;
  row-gap: 30px;
  justify-content: center;
}
