.navigation {
  width: calc(100% - 222px);
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.navigation_movies {
  justify-content: space-between;
  font-size: 13px;
  line-height: 1.38;
}

.navigation_register {
  justify-content: flex-end;
  font-size: 12px;
  line-height: 1.33;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.navigation__list-item {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  margin: auto;
}

.navigation__list-item:first-of-type {
  margin-right: 16px;
}

.navigation__list-item_active {
  font-weight: 500;
}

.navigation__list-item_hidden {
  display: none;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  margin-left: 30px;
  border: none;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.navigation__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navigation__button:active {
  background-color: #e8e8e8;
}

.navigation__button_account {
  border-radius: 20px;
  width: 100px;
  height: 32px;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 1.14;
}

.navigation__button_enter {
  border-radius: 3px;
  width: 76px;
  height: 32px;
  background-color: #2be080;
  font-size: 12px;
  line-height: 1.33;
}
